<br />
<br />

<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <h3>Cadastro de Marcas:</h3>

          <br />

          <!-- NOME -->
          <div class="form-outline mb-4" data-mdb-input-init>

            <input
              type="text"
              class="form-control"
              [(ngModel)]="marca.nome"
              [ngModelOptions]="{standalone: true}"
            />

            <label class="form-label">
              Nome
            </label>

          </div>

          <!-- CNPJ -->
          <div class="form-outline mb-4" data-mdb-input-init>

            <input
              type="text"
              class="form-control"
              [(ngModel)]="marca.cnpj"
              [ngModelOptions]="{standalone: true}"
            />

            <label class="form-label">
              CNPJ
            </label>

          </div>

          <!-- BOTÃO -->
          <button
            type="button"
            class="btn btn-primary btn-rounded w-100"
            mdbRipple
            (click)="saveMarca()"
          >
            Salvar
          </button>

        </div>
      </div>
    </div>

  </div>
</div>